<div style="background-color: #e0f7e0; padding: 15px; border-radius: 5px;">
    <h1 style="color: Darkgreen;">Home Work - Pandas<br><br>
        
        18.11.2024
</div>

In [13]:
import numpy as np
import pandas as pd

In [14]:
file_path = r'C:\users\HP\mobile.csv'  
df = pd.read_csv(file_path)
df.head()

,Customer Name,Phone Number,Talked Minutes,Internet Minutes,Start Subscription
0,Cynthia Wong MD,050-5380527,231,944,14/09/2022
1,Chad Reed,053-5250617,166,217,28/11/2022
2,James Murphy,051-7292166,483,437,06/04/2021
3,John Dean,054-2952436,435,817,06/01/2021
4,Nancy Bright,052-8402824,208,770,10/10/2022

<div style="background-color: #e0f7e0; padding: 15px; border-radius: 5px;">
    <h3 style="color: Darkgreen;">1. <br><br>Create a column for the first name from the first word of the subscriber's name, using the apply command:
</h3>
</div>

In [18]:
df['First_Name'] = df['Customer Name'].apply(lambda x: x.split()[0])

print(df.head());

     Customer Name Phone Number  Talked Minutes  Internet Minutes  \
0  Cynthia Wong MD  050-5380527             231               944
1        Chad Reed  053-5250617             166               217
2     James Murphy  051-7292166             483               437
3        John Dean  054-2952436             435               817
4     Nancy Bright  052-8402824             208               770

  Start Subscription First_Name
0         14/09/2022    Cynthia
1         28/11/2022       Chad
2         06/04/2021      James
3         06/01/2021       John
4         10/10/2022      Nancy

<div style="background-color: #e0f7e0; padding: 15px; border-radius: 5px;">
    <h3 style="color: Darkgreen;">2. <br><br>Create a column for the mobile company based on the initial digits of the phone number:
050 = Pelephone, 051 = Golan, 052 = Cellcom, 053 = Motorola
(The company name will appear in English, for example: Pelephone = Pelephone):
</h3>
</div>

In [22]:
# Sample DataFrame (assuming 'Phone' column exists in the DataFrame)
df = pd.DataFrame({
    'Name': ['Cynthia Wong MD', 'Chad Reed', 'James Murphy', 'John Dean', 'Nancy Bright'],
    'Phone': ['050-5380527', '051-5250617', '052-7292166', '053-2952436', '050-8402824'],
    'Value1': [231, 166, 483, 435, 208],
    'Value2': [944, 217, 437, 817, 770],
    'Date': ['14/09/2022', '28/11/2022', '06/04/2021', '06/01/2021', '10/10/2022']
});

# Function to map phone prefix to the mobile company name
def get_mobile_company(phone):
    prefix = phone.split('-')[0]  # Extract the prefix (before the first dash)
    
    if prefix == '050':
        return 'Pelephone'
    elif prefix == '051':
        return 'Golan'
    elif prefix == '052':
        return 'Cellcom'
    elif prefix == '053':
        return 'Motorola'
    else:
        return 'Unknown'  # For any other prefixes

# Apply the function to create a new column for the mobile company
df['Mobile_Company'] = df['Phone'].apply(get_mobile_company)

# Display the updated DataFrame
print(df)

              Name        Phone  Value1  Value2        Date Mobile_Company
0  Cynthia Wong MD  050-5380527     231     944  14/09/2022      Pelephone
1        Chad Reed  051-5250617     166     217  28/11/2022          Golan
2     James Murphy  052-7292166     483     437  06/04/2021        Cellcom
3        John Dean  053-2952436     435     817  06/01/2021       Motorola
4     Nancy Bright  050-8402824     208     770  10/10/2022      Pelephone

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            3. Use the column you created in the previous section and calculate: 
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        a. How many subscribers are there for each mobile company?<br>
b. What are the names of the different mobile companies?<br>
c. How many different mobile companies are there?<br>
</div>

In [25]:
# Sample DataFrame (using the previous example)
df = pd.DataFrame({
    'Name': ['Cynthia Wong MD', 'Chad Reed', 'James Murphy', 'John Dean', 'Nancy Bright'],
    'Phone': ['050-5380527', '051-5250617', '052-7292166', '053-2952436', '050-8402824'],
    'Value1': [231, 166, 483, 435, 208],
    'Value2': [944, 217, 437, 817, 770],
    'Date': ['14/09/2022', '28/11/2022', '06/04/2021', '06/01/2021', '10/10/2022']
});

# Assuming 'Mobile_Company' column already exists, as we created it in the previous part
df['Mobile_Company'] = df['Phone'].apply(get_mobile_company);

# a. How many subscribers are there for each mobile company?
subscribers_per_company = df['Mobile_Company'].value_counts();

# b. What are the names of the different mobile companies?
unique_companies = df['Mobile_Company'].unique();

# c. How many different mobile companies are there?
num_unique_companies = len(unique_companies);

# Output the results
print("a. Number of subscribers per company:");
print(subscribers_per_company)

print("\nb. Different mobile company names:");
print(unique_companies)

print("\nc. Number of different mobile companies:");
print(num_unique_companies);

a. Number of subscribers per company:
Mobile_Company
Pelephone    2
Golan        1
Cellcom      1
Motorola     1
Name: count, dtype: int64

b. Different mobile company names:
['Pelephone' 'Golan' 'Cellcom' 'Motorola']

c. Number of different mobile companies:
4

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            4. <br>Create a column that indicates the type of user: If the talk time is greater than the browsing time, the value should be 'talker'; otherwise, the value should be 'surfer'. Solve this in two ways: 
        </strong>
        <br><br> <!-- This adds an empty line between the two parts -->
        a. Using apply with a lambda function <br>
b. Vectorized approach"<br>
</div>

In [26]:
df = pd.DataFrame({
    'Name': ['Cynthia Wong MD', 'Chad Reed', 'James Murphy', 'John Dean', 'Nancy Bright'],
    'Phone': ['050-5380527', '051-5250617', '052-7292166', '053-2952436', '050-8402824'],
    'Value1': [231, 166, 483, 435, 208],  # Talk time
    'Value2': [944, 217, 437, 817, 770],  # Browsing time
    'Date': ['14/09/2022', '28/11/2022', '06/04/2021', '06/01/2021', '10/10/2022']
})

# a. Using apply and lambda to create 'User_Type' column
df['User_Type'] = df.apply(lambda row: 'talker' if row['Value1'] > row['Value2'] else 'surfer', axis=1)

# Display the updated DataFrame
print(df);
#_______________________________________________________________________

              Name        Phone  Value1  Value2        Date User_Type
0  Cynthia Wong MD  050-5380527     231     944  14/09/2022    surfer
1        Chad Reed  051-5250617     166     217  28/11/2022    surfer
2     James Murphy  052-7292166     483     437  06/04/2021    talker
3        John Dean  053-2952436     435     817  06/01/2021    surfer
4     Nancy Bright  050-8402824     208     770  10/10/2022    surfer

In [27]:
# b. Using a vectorized approach to create 'User_Type' column
df['User_Type'] = ['talker' if x > y else 'surfer' for x, y in zip(df['Value1'], df['Value2'])]

# Display the updated DataFrame
print(df);
#________________________________________________________________________

              Name        Phone  Value1  Value2        Date User_Type
0  Cynthia Wong MD  050-5380527     231     944  14/09/2022    surfer
1        Chad Reed  051-5250617     166     217  28/11/2022    surfer
2     James Murphy  052-7292166     483     437  06/04/2021    talker
3        John Dean  053-2952436     435     817  06/01/2021    surfer
4     Nancy Bright  050-8402824     208     770  10/10/2022    surfer

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            5. <br><br>Sort the subscribers by talk time from smallest to largest.
        </strong>
</div>

In [28]:
df = pd.DataFrame({
    'Name': ['Cynthia Wong MD', 'Chad Reed', 'James Murphy', 'John Dean', 'Nancy Bright'],
    'Phone': ['050-5380527', '051-5250617', '052-7292166', '053-2952436', '050-8402824'],
    'Value1': [231, 166, 483, 435, 208],  # Talk time
    'Value2': [944, 217, 437, 817, 770],  # Browsing time
    'Date': ['14/09/2022', '28/11/2022', '06/04/2021', '06/01/2021', '10/10/2022']
});

# Sorting the DataFrame by 'Value1' (Talk time) from smallest to largest
df_sorted = df.sort_values(by='Value1', ascending=True);
print(df_sorted);
#_____________________________________________________________________

              Name        Phone  Value1  Value2        Date
1        Chad Reed  051-5250617     166     217  28/11/2022
4     Nancy Bright  050-8402824     208     770  10/10/2022
0  Cynthia Wong MD  050-5380527     231     944  14/09/2022
3        John Dean  053-2952436     435     817  06/01/2021
2     James Murphy  052-7292166     483     437  06/04/2021

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            6. <br><br>Sort the subscribers by talk time + browsing time:
        </strong>
</div>

In [30]:
# Creating a new column for the sum of talk time and browsing time
df['Total_Time'] = df['Value1'] + df['Value2']

# Sort the DataFrame by 'Total_Time' from smallest to largest
df_sorted_by_total_time = df.sort_values(by='Total_Time', ascending=True);
print(df_sorted_by_total_time);
#_________________________________________________________________________

              Name        Phone  Value1  Value2        Date  Total_Time
1        Chad Reed  051-5250617     166     217  28/11/2022         383
2     James Murphy  052-7292166     483     437  06/04/2021         920
4     Nancy Bright  050-8402824     208     770  10/10/2022         978
0  Cynthia Wong MD  050-5380527     231     944  14/09/2022        1175
3        John Dean  053-2952436     435     817  06/01/2021        1252

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            7. <br><br>Print the top 5 talkers (with the largest talk time + browsing time):
        </strong>
</div>

In [31]:
top_5_talkers = df_sorted_by_total_time.tail(5);
print(top_5_talkers);
#________________________________________________

              Name        Phone  Value1  Value2        Date  Total_Time
1        Chad Reed  051-5250617     166     217  28/11/2022         383
2     James Murphy  052-7292166     483     437  06/04/2021         920
4     Nancy Bright  050-8402824     208     770  10/10/2022         978
0  Cynthia Wong MD  050-5380527     231     944  14/09/2022        1175
3        John Dean  053-2952436     435     817  06/01/2021        1252

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            8. <br><br>Print the 3 subscribers who browse the least:
        </strong>
</div>

In [32]:
# Sort by browsing time (Value2) in ascending order
df_sorted_by_browsing = df.sort_values(by='Value2', ascending=True);

# Print the 3 subscribers who browse the least
top_3_browsing_least = df_sorted_by_browsing.head(3);
print(top_3_browsing_least);
#_____________________________________________________

           Name        Phone  Value1  Value2        Date  Total_Time
1     Chad Reed  051-5250617     166     217  28/11/2022         383
2  James Murphy  052-7292166     483     437  06/04/2021         920
4  Nancy Bright  050-8402824     208     770  10/10/2022         978

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            9. <br><br>Print and remove duplicated records:
        </strong>
        <br><br> 
        a. Print the duplicated records <br>
b. Remove the duplicated records
<br>
</div>

In [33]:
# Print the duplicated records
duplicated_records = df[df.duplicated()];
print(duplicated_records);
#________________________________________

Empty DataFrame
Columns: [Name, Phone, Value1, Value2, Date, Total_Time]
Index: []

In [34]:
# Remove the duplicated records
df_no_duplicates = df.drop_duplicates();
print(df_no_duplicates);
#_______________________________________

              Name        Phone  Value1  Value2        Date  Total_Time
0  Cynthia Wong MD  050-5380527     231     944  14/09/2022        1175
1        Chad Reed  051-5250617     166     217  28/11/2022         383
2     James Murphy  052-7292166     483     437  06/04/2021         920
3        John Dean  053-2952436     435     817  06/01/2021        1252
4     Nancy Bright  050-8402824     208     770  10/10/2022         978

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkgreen;">
        <strong>
            10. <br><br>Randomly select 3 subscribers and print their name and phone number:
        </strong>
</div>

In [35]:
# Randomly select 3 subscribers
random_subscribers = df.sample(n=3);
print(random_subscribers[['Name', 'Phone']]);
#_______________________________________________

           Name        Phone
2  James Murphy  052-7292166
4  Nancy Bright  050-8402824
1     Chad Reed  051-5250617